<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.edu.vn.mssv18110324.salesmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalesManager">
        <activity android:name=".activity.admin.AdminProductActionActivity"
                  android:parentActivityName=".activity.admin.AdminProductActivity"></activity>
        <activity android:name=".activity.admin.AdminProductActivity"
                  android:parentActivityName=".activity.admin.AdminHomeActivity"  />
        <activity android:name=".activity.admin.AdminCategoryActionActivity"
                  android:parentActivityName=".activity.admin.AdminCategoryActivity" />
        <activity android:name=".activity.admin.AdminCategoryActivity"
                  android:parentActivityName=".activity.admin.AdminHomeActivity"/>
        <activity android:name=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.client.DetailOrder" />
        <activity android:name=".activity.client.HistoryPurchase" />
        <activity android:name=".activity.client.ChangePasswordActivity" />
        <activity android:name=".activity.client.PersonalInfoActivity">

        </activity>
        <activity android:name=".activity.client.HomeActivity" />
        <activity android:name=".activity.ResetPassword" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Register" />
    </application>

</manifest>